{% extends 'base.html' %}

{% block title %}Aplicacion{% endblock %}
    
{% block content %}
    {% include './includes/partial.html' %}
    {% if name == 'Johnny' %}
        <h1>Hola Johnnt</h1>
    {% elif name == 'Carlos' %}
        <h1>Hola Carlooos</h1>
    {% else %}
        <h1>Hola invitado</h1>
    {% endif %}

    <ul>
    {% for lenguaje in lenguajes %}
        <li>
            <a href="{% url 'stack' lenguaje.id %}">
                {{ lenguaje.name }}
            </a>
        </li>
    {% empty %}
        <li>No hay lenguajes disponibles</li>
    {% endfor %}
    </ul>
            
    <h1>Hola desde Home</h1>
    {{ name }}
    <hr>
    {{ age }}
    <hr>
    {{ date | date:"d/m/Y"}}

    {% include './includes/endpartial.html' %}
{% endblock %}